@model WebStore.Models.Employee;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Дополнительная информация</title>
</head>

<body>
    <p>Дополнительная информация Сотрудника№@Model.Id</p>
    <p>(@Model.LastName @Model.FirstName @Model.Patronymic)</p>
    <p>Дата рождения: @Model.Birthday.ToShortDateString()</p>
    <p>Зарплата: @Model.Salary руб.</p>
    <a href="~/Home/Employees">К списку сотрудников</a>
</body>



</html>
